html {
  min-width: min-content;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Avenir Next", "Avenir", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  }

 nav {
  width: 90%;
  height: 42px;
  text-align: center;
  background: midnightblue;
  align-content: center;
  border-radius: 0px 0px 90px 90px;
  display: inline-block;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: relative;
  top: -120px;
 } 

.logo-area {
  height: 250px
} 
.logo {
  height: 235px
}

div {
  text-align: -webkit-center;
  width: 100%;
  margin-left: 0;
  display: inline-block;
  height: fit-content
}

.founders-info {
  margin-left:10px;
}

i {
  position: relative;
  left: 0px;
  font-size: 2em;
}

.chase-sim {
  bottom: -29px;
  position: relative;
}

/* nav css code */

.heading-bar {
  background-color: black;
  border: 10px solid midnightblue;
  border-radius: 0px 0px 90px 90px;
  box-shadow: 1px 10px 1px #ccc;
  width: 100%;
  z-index: 9999;
  display: inline-block;
  height: 320px;
}

  .logo {
    position:relative;
    width:100%;
    height: 100px;
  }

  nav ul {
    margin-top: 0px;
    padding-left: 0px;
    text-align: center;
    display:inline-block;
    height:auto;
    width:100%;
    margin-block-start: -2em;
    margin-block-end: 0em;
    margin-inline-start: 0;
    font-variant: small-caps;
  }

nav li {
    font-size: 1em;
    line-height: 20px;
    height:20px;
    display:inline-block;
    margin:1.5%;
  }

nav a {
    text-decoration-line: none;
    color: white;
    display: inline;
  }

nav a:hover {
    background-color:white;
    color:black;
  }

.founders-title {
   text-align: center;
  }

.founders-section-area {
  display: inline-block;
  width: -webkit-fill-available;
}

.founders-title {
  display: inline;
  width: 100%;
  position: relative;
  top: 10px;
  bottom: 10px;
}
.webpage-heading {  
  height: 100px;
  display: inline-block;
  border-bottom: double;
  margin: 50px 0 70px 0;
  width: 100%;
  text-align: -webkit-center;
}

.t-logo-bottom {
  position: relative;
  bottom: 10px;
  display: inline-block;
}

.template-spacing {
  display: flex;
  max-width: 100%;
  min-height: 90vh;
  margin: 0 auto;
  padding: 30px;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-self: center;;
}

.founders-template {
  width: 300px;
    border: 6px;
    border-color: white;
    border-style: dashed;
    border-radius: 95px;
    display: inline;
    margin: 5px;
}


.founders-centering {
  margin:0;
  margin-top: 20px;
}

.founders-pfp {
  width: 250px;
  position: relative;
  padding: 10px;
}


.paragraph-setting {
  text-align: -webkit-center;
  width: 100%;
}

.paragraph-setting-2 {
  text-align: -webkit-center;
  width: 100%;
  height: min-content;
  position: relative;
  top: -30px;
}

.div-centering {
  text-align: -webkit-center;
}

p {
  text-align: -webkit-center;
  width: 80%;
}

.caller-div-area {
  display: block;
  margin-left: 0px;
  height: fit-content;
}

.section-width {
  width: 100%;
  margin-left: 0;
}

.callers-div {
  height: 350px;
  display: inline-block;
  width: 100%;
}

.callers-list {
  display: contents;
  list-style-type: none;
  position: relative;
}

.solana-callers {
  position: relative;
  border: 5px;
  border-color: white;
  border-style: dashed;
  border-radius: 45px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.ethereum-callers {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  bottom: 45px;
}

.futures-callers {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}



.profit-list {
  list-style: none;
  padding-left: 0%
  ;
}
.profit-list-section { 
  display: flex;
  max-width: 1000px;
  min-height: 55vh;
  margin: 0 auto;
  padding: 30px;
  gap: 55px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.profit-image {
  width: auto;
  height: 140px;
}

.future-overflow {
  height: 500px;
  overflow: auto;
  width:fit-content;
}

.future-profit-image {
  width: auto;
  height: 400px;
}

.solana-marketplaces {
  display: flex;
  max-width: 1202px;
  min-height: 90vh;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

div > iframe {
  width: 500px;
  height: 300px;
}

.video-float {
  float: left;
  transform-box: view-box;
  width: 550px;
  height: 310px;
  top: 50px;
  margin-left: 90px;
  margin-right: 50px;
  margin-top: 20px;
}

.rarible {
  width: 550px;
  position: relative;
  top: 19px;
  right: -15px;
}



.different-marketplace-text {
  margin-left: 563px;
  width: 300px;
  top: 60px;
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 25px;
}

.future-marketplace-text {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  float: left;
  list-style-type: none;
  right: -76px;
  top: -11px;
  width: 305px;
}  

.future-marketplace-list {
  position: relative;
  border: 6px;
  border-color: white;
  border-style: dashed;
  border-radius: 56px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  float: right;
  list-style-type: none;
  right: -100px;
  top: -210px;
  width: 305px;
}

.iframe-div-text {
  width: 100px;
  position: relative;
  top: 35px;
}

.stats-div {
  clear: both;
  display: block;
  height: 450px;
}

.future-marketplace {
  height: 380px;
  display: block;
}

.future-list {
  list-style-type: none;
  text-decoration-color: blue;
  text-decoration-line: underline;
  padding-left: 0px;
}

iframe {
  border:none;
}

a {
  text-decoration-color: inherit;
  color: inherit;
}

.footer-area {
  width: 100%;
  background: midnightblue;
  border-radius: 0px 0px 90px 90px;
  display: inline-block;
}

.future-div {
height: 610px;
display: inline-block;
}


body::-webkit-scrollbar {
  display: none;
}

.up-arrow{
  position:relative;
  right:5px;
}

.arrow-styling {
  position: relative;
  right: -490px;
top: -131px;
font-size: 3.5em;
}

.audio-div {
  top: 69px;
  position: relative;
  z-index: 1;
  height: 0px;
  opacity: 0.25;
}

audio {
  z-index: 1;
  position: relative;
  top: -395px;
  left: -425px;
  height: 25px;
  width: 200px;
}

.play-me {
  position: relative;
  top: -420px;
  left: -415px;
}